/* Make h5 headings smaller on screens smaller than 992px */

@media (max-width: 992px){
h5 {
    font-size: 1em;
    }

}

@media (max-width: 768px){
    footer li{
        font-size: .9em;
    }
    .product img{
        width: 400px;
    }
    p{
        font-size: .9em;
    }
}

/* Add custom font + size to headings */
h1 {
    font-family: "Yellowtail";
    font-size: 4em;
}

h2{
    font-family: "Yellowtail";
    font-size: 2em;
}

button.btn{
    background-color: #C16dac;
    border-color: #c16dac;
    font-weight: bold
}

button.btn:hover{
    background-color: #c97fb6;
}

nav{
    background-color: #6dacc1;
}

nav li:hover {
    text-decoration: underline;
}

.customBorder{
    border: 2px solid gray; 
    padding: 1em;
    box-shadow: 5px 5px darkgray;
    /* border-radius: 5px; */
}